torch==2.7.1
torchvision
transformers
imageio
imageio[ffmpeg]
safetensors
einops
sentencepiece
protobuf
modelscope
ftfy
pynvml
pandas
accelerate
peft
datasets
qwen-vl-utils[decord]
jsonlines
matplotlib
ffmpeg-python
vllm>0.7.2
viser
plotly
yt-dlp
pyarrow
lightning
websockets
jsonargparse[signatures]
deepspeed
wandb
omegaconf
pydantic
pydantic-settings
torchmetrics[image]
tyro
seaborn
